[submodule "third_party/autocomp"]
	path = third_party/autocomp
	url = https://github.com/ucb-bar/autocomp.git
[submodule "third_party/zephyr"]
	path = third_party/zephyr
	url = https://github.com/ucb-bar/zephyr-chipyard-sw.git
[submodule "benchmark/XNNPACK"]
	path = benchmark/XNNPACK
	url = https://github.com/google/XNNPACK.git
[submodule "third_party/chipyard"]
	path = third_party/chipyard
	url = https://github.com/ucb-bar/chipyard.git
